alembic==1.16.2
annoy==1.17.3
faiss-cpu==1.12.0
filelock==3.18.0
fuzzywuzzy==0.18.0
gitpython==3.1.44
hdbscan==0.8.40
libcst==1.8.2
marshmallow==4.0.0
numpy==2.3.1
pandas==2.3.0
psutil==7.0.0
pydantic==2.11.7
pydantic-settings==2.2.1
pymongo==4.13.2
pypdf2==3.0.1
pyyaml==6.0.2
radon==6.0.1
redis==6.2.0
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
sqlalchemy==2.0.41
sqlparse==0.5.3
tiktoken==0.11.0
torch==2.7.1
pytest==8.2.2